{% if item_list %}
  <ul>
  {% for item in item_list %}
    <li><a href="/todo/{{ item.id }}/">{{ item.item_text }}</a></li>
    Done: {{ item.done }}
    <br />
    Due Date: {{ item.due_date }}
    <br />
    Created At: {{ item.pub_date }}
    <br />
    <a href="{% url 'todo:edit' item.id %}">Edit this item</a>
    <br />
    <form action="{% url 'todo:delete' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="delete_id" value="{{ item.id }}">
      <input type="submit" value="delete">
    </form>
    <br /> <br />
  {% endfor %}
  </ul>
{% else %}
  <h3>No items have been added yet</h3>
{% endif %}
<h3><a href="{% url 'todo:new' %}">Create new Todo item</a></h3>
